:root {
    --gradient-start: #5de0e6;
    --gradient-end: #004aad;
    --primary: #39a1eb;
    --background: #fff;
    --on-primary: #fff;
    --text: #545454;
    --correct: green;
    --incorrect: red;
}

* {
    margin: 0;
    padding: 0;
}

.wrapper {
    font-family: 'Roboto', sans-serif;
    color: var(--text);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(to bottom right, var(--gradient-start), var(--gradient-end));
}

.content {
    background-color: var(--background);
    border-radius: 20px;
    padding: 5vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.content.selection {
    width: 40vw;
    height: 50vh;
}

.content.question {
    width: 70vw;
    height: 80vh;
    padding: 5vh 5vw;
    justify-content: space-between;
    font-size: 2vh;
}

button, select {
    border-radius: 12px;
    padding: 1.5vh 3vh;
    font-size: 2vh;
    text-align: center;
}

button {
    background-color: var(--primary);
    color: var(--on-primary);
    border: none;
    font-weight: bold;
}

select {
    background: none;
    color: var(--text);
    border: var(--text) solid 3px;
}

.selection > .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 16.5vh;
}

.selection > .title {
    font-size: 4vh;
}

#test_selector {
    width: 15vw;
}

#test_start {
    width: 15vw;
}

.hidden {
    display: none;
}

.question, .question_title {
    width: 100%;
    text-align: left;
}

.answer_container {
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.answer_container[data-amount="4"] {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 5vh;
    row-gap: 5vh;
    height: fit-content;
}

.answer_container[data-amount="5"], .answer_container[data-amount="6"] {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 5vh;
    row-gap: 5vh;
}

.answer_container[data-amount="5"] > :nth-child(5) {
    grid-column: 1 / 3;
}

.answer_btn {
    background: none;
    color: var(--text);
    border: var(--text) solid 3px;
    height: 10vh;
    width: 100%;
}

.content.results {
    width: 50vw;
    height: 70vh;
}

.title {
    font-size: 3vh;
    font-weight: bold;
    height: 10%;
}

.subtitle {
    font-size: 2.5vh;
    font-weight: normal;
    height: 10%;
}

.results_container {
    width: 100%;
    height: 70%;
    padding-top: 5%;
    overflow: scroll;
}

.result {
    display: flex;
    font-size: 2.2vh;
    padding: 1.8vh;
}

.score {
    font-size: 2.2vh;
    color: var(--incorrect);
}

.score.correct {
    color: var(--correct);
}

.total {
    height: 10%;
    width: 7vw;
    font-size: 2.2vh;
    padding: 1.8vh;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
}

.total > .score {
    color: var(--text);
}